/* NOTE Font Family */
.font-sans {
    font-family: Roboto, ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
        sans-serif,
}

.font-display {
    font-family: 'Bebas Neue', cursive;
}


/* NOTE Font Utilities */

.tracking-super-wide {
    letter-spacing: 0.4em;
}


/* NOTE Default Styling */

html {
    @extend .font-sans;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: $brand-black-color;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $brand-lightgreen-color;
    z-index: -1;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $brand-black-color $brand-pink-color;
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: $brand-pink-color;
}

*::-webkit-scrollbar-thumb {
    // background-color: $brand-pink-color;
    // border-radius: 20px;
    // border: 3px solid $brand-black-color;
}